.allProducts {
  margin-top: 30px;
}

.allProducts h3 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 18px;
}

.allProducts__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  column-gap: 10px;
  row-gap: 15px;
}
