.formalize {
  background-color: #f3f5f8;
  margin: 20px 60px 20px 20px;
  padding: 20px 28px;
  border-radius: 6px;
}

.formalize__header p {
  font-weight: 500;
  color: #bbc2d0;
  font-size: 12px;
  line-height: 14px;
}

.formalize__header p span {
  color: #00c48c;
}

.formalize__header h2 {
  font-size: 22px;
  margin-top: 30px;
  line-height: 27px;
  color: #3d639d;
  margin-bottom: 20px;
}

.formalize__search {
  display: flex;
  align-items: center;
}

.formalize__search input {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  font-size: 16px;
  border-bottom-left-radius: 26px;
  border-top-left-radius: 26px;
  padding: 0 20px;
}

.formalize__search input::placeholder {
  color: #bbc2d0;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.4px;
}

.formalize__search button {
  width: 100px;
  height: 50px;
  border: none;
  background-color: #00c48c;
  border-top-right-radius: 26px;
  border-bottom-right-radius: 26px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.formalize__search button:hover {
  opacity: 0.5;
}

@media screen and (max-width: 1366px) {
  .formalize {
    margin: 20px 40px 20px 20px;
  }
}

@media screen and (max-width: 768px) {
  .formalize {
    margin: 10px 20px 10px 10px;
    padding: 10px 14px;
  }

  .formalize__header h2 {
    font-size: 20px;
    margin-top: 20px;
    line-height: 20px;
    margin-bottom: 15px;
  }
  .formalize__search input,
  .formalize__search button {
    height: 40px;
  }
}

@media screen and (max-width: 500px) {
  .formalize {
    margin: 10px 20px 10px 10px;
    padding: 10px 14px;
  }

  .formalize__header h2 {
    font-size: 20px;
    margin-top: 20px;
    line-height: 20px;
    margin-bottom: 15px;
  }

  .formalize__search input {
    padding: 0 0px 0 15px;
    font-size: 12px;
  }
  .formalize__search input,
  .formalize__search input::placeholder {
    font-size: 12px;
  }
  .formalize__search button {
    width: 65px;
  }
}
